*{
	margin: 0px;
	padding: 0px;

}

body{
	 background-image: url("../img/default.jpg");
	 background-size: cover;
	 background-attachment: fixed;
	 font-family: new time roman;
}

h1{
	font-size: 40px;
	color:white;
	margin-top: 250px;
}
p{
	font-size: 17px;
	color: lightblue; 
}
h3{
	font-size: 20px;
	color: white;
}
.glyphicon-pencil{
	font-size: 35px;
	color:white;
	float: right;
	margin-top: 20px;

}
.col-md-5{
  margin-top: 80px;
  box-shadow: -1px 1px 70px 10px black;
  background: rgba(0, 0, 0, 0.4);
}
.label{
	font-weight: normal;
	margin-top: 15px;
	color: lightblue;
	font-size: 19px;
}
.form-control{
	background: transparent;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid white;
	margin-top: 15px;
	font-size: 18px;
	height: 40px;
	color: white;
}
input[type="ckeckbox"]{
	margin-top: 15px;
	width: 25px;
	height: 25px;
}
small{
	font-size: 20px;
	color :white;
}

input[type="radio"]{
	margin-top: 22px; 

	}
option{
	color: gray;
}
input[type="date"]{
	margin-top: 8px; 

	}
option{
	color: gray;
}

.btn-info{
	margin-top: 20px;
	font-size: 18px;
	width: 120px;
	margin-left: 80px;
	margin-bottom: 20px;
}
.btn-warning{
	margin-top: 20px;
	font-size: 18px;
	width: 120px;
	margin-bottom: 20px;
}

/*expert login css form*/

