<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	 <link rel="stylesheet" type="text/css" href="static/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript"  src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/expert-style.css">

    

<title>expert registration</title>
</head>
<body>
	    <nav class=" navbar navbar-inverse navbar-fixed-top">
        	<div class=" container">
        		<div class="navbar-header">
        			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navi">
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        			</button> 
                    <a href="" class=" navbar-brand">|Agric 4.0|</a>
                 </div>
                <div class="collapse navbar-collapse " id="navi">
                	
               
        		<ul class="nav navbar-nav navbar-right">
        			<li><a href="">Home</a></li>
        			<li><a href="">Our Services</a></li>
        			<li><a href="">About us </a></li>
        			<li><a href="" class="location">Login Now</a></li>



        		</ul>

	            <form class="search-box">
	             	 <input class="search-txt" type="text" placeholder="type to search">
		              <a href="#" class="search-btn"></a>
		              <i class="fas fa-search" ></i>
	            </form>
        
        	</div> 
        	</div>
        </nav>

     <div class="expert-container">
      <div class="title">Register-expert
      </div>
      <form action="#">
      	<div class="user-details">
	        <div class="input-box">
	           <span class="details">Full Name</span>	
	           <input type="text" name="fullname" placeholder="enter your user name" required>
            </div>
	        <div class="input-box">
	           <span class="details">user Name</span>	
	           <input type="text" name="username" placeholder="enter your user name" required>
	        </div>
	        <div class="input-box">
	           <span class="details">Email</span>	
	           <input type="email" name="email" placeholder="enter your Email" required>
	        </div>
	        <div class="input-box">
	           <span class="details">phone Number</span>	
	           <input type="text" name="phonenumber" placeholder="enter your phone number" required>
	        </div>
	        <div class="input-box">
	           <span class="details">Password</span>	
	           <input type="password" name="password" placeholder="enter your password" required>
	        </div>
	        <div class="input-box">
	           <span class="details">Confirm Password</span>	
	           <input type="password" name="password" placeholder="Confirm your Password" required>
	        </div>
            
	       
	        <div class="input-box">
	           <span class="details">Age</span>	
	           <input type="date" name="dob"  required>
	        </div>

	         <div class="input-box">
	           <span class="details">City</span>	
	           <input type="text" name="city"  required>
	        </div>

	         <div class="input-box">
	           <span class="details">Country</span>	
	           <input type="text" name="country"  required>
	        </div>
	         <div class="input-box">
	           <span class="details">State</span>	
	           <input type="text" name="dob"  required>
	        </div>
        </div>
        <div class="gender-details">
            	<input type="radio" name="gender" id="dot-1">
            	<input type="radio" name="gender" id="dot-2">
            	<input type="radio" name="gender" id="dot-3	">

	        	<span class="gender-title">Gender</span>
	        	<div class="category">
	        		 <label for="dot-1">
                        <span class="dot one"></span>
                         <span class="gender">Male</span>
                      </label>
                     <label for="dot-2">
                     	<span class="dot two"></span>
                         <span class="gender">female</span>
                     </label> 
	        	</div>
	        </div>

         <div class="button">
	          	<input type="submit" value="Register">
	    </div>
         <h4>Join the first farming community of your state </h4>
      </form>
    </div>
</body>
</html>